<section class="movie-poster">
	<img src="https://image.tmdb.org/t/p/w500{{poster_path}}">
</section>
<date>{{year}}</date>
<section class="cast">
	<ul>
		<li>{{cast1}}</li>
		<li>{{cast2}}</li>
		<li>{{cast3}}</li>
	</ul>
</section>